<a href="https://colab.research.google.com/github/alvas-education-foundation/Yalpi-Online-Courses/blob/master/Python_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

## Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

### Creating a list

In [1]:
list1 = [0,1,2,3,4]   # notice we use square brackets

list2 = list('Hello')  # Passing a string to the list function gives a list of individual letters
print(list1, list2)

[0, 1, 2, 3, 4] ['H', 'e', 'l', 'l', 'o']

### Methods one can use with lists

In [2]:
list1.append(5)   # list.appen() is a method to add an element to the existing elements to a list
print(list1)

[0, 1, 2, 3, 4, 5]

In [3]:
list1.clear()  # list.clear() removes all the elements of the list
print(list1)

[]

In [4]:
list3 = list2.copy()  # list.copy() returns a copy of the list
print(list3)

['H', 'e', 'l', 'l', 'o']

In [5]:
number_of_l = list3.count('l')   # returns the number of times a certain value occurs
print(number_of_l)

2

In [6]:
list3.extend(list2)  # Extend one list using another list
print(list3)

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [7]:
list3.index('o')   # list3.index() returns the index of an element in the list
#If there are multiple entries of the same element multiple times, the method returns the first occurance

4

In [8]:
list3.insert(3, 4)   # list.index() Insert an elemtent at a specific location
print(list3)

['H', 'e', 'l', 4, 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [9]:
list3.pop(3)   # list.pop() removes an element and returns the element specified by its index location

4

In [10]:
list3.remove('H')   # list.remove() removes an element from the list. If there are multiple occurances, it removes the first one
print(list3)

['e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [11]:
list3.reverse()  # list.reverse() reverses the list
print(list3)

['o', 'l', 'l', 'e', 'H', 'o', 'l', 'l', 'e']

In [12]:
list3.sort()  # list.sort() sorts the list in alphabetical order and incase of numbers, it sorts in ascending order
print(list3)

['H', 'e', 'e', 'l', 'l', 'l', 'l', 'o', 'o']

### Indexing a list

In [13]:
list3[2]   # Mention the index of the element to be extracted

'e'

In [14]:
list3[-2]  # Python has negative indexing

'o'

In [15]:
list3[2:5]   # Extract a slice of the list from position 2 to 5. Notice that

['e', 'l', 'l']

In [16]:
list3[:-2]  # All elements from the start until the 3rd element from the end

['H', 'e', 'e', 'l', 'l', 'l', 'l']

In [17]:
list3[::2] #The format is list[start : end : step] 
# Since we have given step as 2, it takes every element which is a multiple of 2

['H', 'e', 'l', 'l', 'o']

## Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [18]:
# create a tuple directly
digits = (0, 1, 'two')
digits

(0, 1, 'two')

In [19]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])
digits

(0, 1, 'two')

In [0]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [21]:
digits[2]

len(digits)

3

In [22]:
# counts the number of instances of that value
digits.count(0)

1

In [23]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [24]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [25]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [26]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [27]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson